@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.App {
  text-align: center;

  &__ul {
    list-style-type: none;
    @include flex(flex-end, flex-end, column);
    margin-bottom: 0;

    &-item {
      @include font("Avenir Next Regular", 400, 13px, 15px, $primary);
      padding: 0 8px;
    }
  }
}
