@font-face {
  font-family: "Avenir Next Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
