@use "./variables" as *;
@use "./fonts" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin font($font, $weight, $size, $height, $color) {
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
