$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$primary: #323232; //black
$primary2: #0095ff; //Blue
$primary3: #afafaf; //silver
$primary4: #ffffff; //white
$primary5: aquamarine;

$secondary: #000000; //DARK black
$secondary2: #0065ad; // Dark Blue
$secondary3: #e1e1e1; //Mercury
$secondary4: #fafafa; //Alabaster
