@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.gigs {
  &__header {
    @include font("Avenir Next Regular", 600, 22px, 15px, $primary);
    margin: 1rem 0;
    @include tablet {
      @include font("Avenir Next Regular", 600, 26px, 20px, $primary);
    }
  }

  &__table {
    width: 80vw;
    &--headers {
      background-color: blanchedalmond;
      &-gig,
      &-venue,
      &-date,
      &-time,
      &-category {
        @include font("Avenir Next Regular", 600, 20px, 24px, $primary);
      }

      &-venue,
      &-category {
        display: none;
        @include tablet {
          display: block;
        }
      }
    }

    &-body-container {
      background-color: aliceblue;
      &-name {
        @include font("Avenir Next Regular", 600, 16px, 18px, $primary);
      }

      &-venue,
      &-date,
      &-time,
      &-category {
        @include font("Avenir Next Regular", 400, 16px, 22px, $primary);
        padding: 0 1rem;
      }

      &-venue,
      &-category {
        display: none;
        @include tablet {
          display: block;
        }
      }
    }
  }
}
