// @use "../../styles/partials/variables" as *;
// @use "../../styles/partials/mixins" as *;

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  padding: 0 1rem 1rem;
  background-color: $primary3;
  // margin-bottom: 0.5rem;

  &__title {
    @include font("Avenir Next Regular", 600, 32px, 20px, $primary);
    font-style: oblique;
    padding: 1rem 0;
    @include tablet {
      @include font("Avenir Next Regular", 600, 36px, 26px, $primary);
    }
    @include desktop {
      @include font("Avenir Next Regular", 600, 42px, 32px, $primary);
    }
  }

  &__link {
    list-style-type: none;
    @include flex(space-evenly, center, row);
    padding: 0;

    &-one,
    &-two,
    &-three {
      @include font("Avenir Next Regular", 600, 13px, 10px, $primary2);
      @include tablet {
        @include font("Avenir Next Regular", 600, 15px, 15px, $primary2);
      }
      @include desktop {
        @include font("Avenir Next Regular", 600, 18px, 15px, $primary2);
      }
      // padding: 0.5rem 0;
    }
  }
}
