@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.list {
  padding: 0 1rem;

  &__container {
    @include flex(center, baseline, row);
    flex-wrap: wrap;
  }

  &__card {
    @include flex(center, flex-start, column);
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 13rem;
    margin: 0.5rem;
    background-color: $secondary4;

    &-name {
      @include font("Avenir Next Regular", 600, 18px, 15px, $primary);
      margin: 1rem 0;
      @include tablet {
        @include font("Avenir Next Regular", 600, 20px, 18px, $primary);
      }
    }

    &-city,
    &-country,
    &-instrument,
    &-bio {
      @include font("Avenir Next Regular", 600, 14px, 15px, $primary2);
      @include tablet {
        @include font("Avenir Next Regular", 600, 16px, 18px, $primary2);
      }
    }

    &-bio {
      margin-bottom: 0.5rem;
    }
  }

  #list__span {
    @include font("Avenir Next Regular", 400, 14px, 15px, $primary);
    @include tablet {
      @include font("Avenir Next Regular", 400, 16px, 17px, $primary);
    }
  }
}
