@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

#editUser-container1,
#editUser-container2 {
  @include tablet {
    width: 30%;
  }
}

.editUser {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem;
  background-color: cornsilk;
  width: 80vw;
  margin: 0 auto;

  &__header {
    @include font("Avenir Next Regular", 600, 26px, 26px, $primary);
    @include tablet {
      @include font("Avenir Next Regular", 600, 28px, 28px, $primary);
    }
  }

  &__container {
    @include tablet {
      @include flex(space-evenly, baseline, row);
    }

    &-name,
    &-address,
    &-city,
    &-country,
    &-phone,
    &-email,
    &-instrument,
    &-bio {
      &-title {
        @include font("Avenir Next Regular", 600, 18px, 20px, $primary3);
        margin-top: 0.5rem;
        @include tablet {
          text-align: left;
          @include font("Avenir Next Regular", 600, 20px, 22px, $primary3);
        }
      }

      &-input {
        border-radius: 4px;
        padding: 0 12px;
        width: 50%;
        @include tablet {
          width: 100%;
        }
      }

      &-error {
        @include font("Avenir Next Regular", 400, 12px, 16px, red);
      }
    }

    &-email,
    &-instrument {
      @include tablet {
        @include flex(center, baseline, column);
      }
    }

    &-bio-input {
      height: 6rem;
      resize: none;
    }

    &-button {
      margin-top: 1rem;
      &-submit,
      &-cancel {
        @include font("Avenir Next Regular", 600, 14px, 0px, $primary4);
        height: 3rem;
        min-width: 6rem;
        background-color: $primary2;
        padding: 0 8px;
        border-radius: 4px;
        width: 6rem;
        border: 1px solid $primary;
        margin: 0 2px;
        margin-bottom: 1rem;
      }
    }
  }
}
