@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  &__curr-user {
    @include font("Avenir Next Regular", 600, 18px, 15px, $primary);
  }

  &__curr-user__card {
    @include flex(center, flex-start, column);
    border: 1px solid black;
    background-color: $secondary3;
    border-radius: 4px;
    width: 24rem;
    margin: 0 auto;

    &-name {
      @include font("Avenir Next Regular", 600, 18px, 15px, $primary);
      margin: 0.75rem;
    }

    &-address,
    &-city,
    &-country,
    &-instrument,
    &-email,
    &-phone,
    &-bio {
      @include font("Avenir Next Regular", 600, 14px, 15px, $primary2);
    }
  }

  #hero__span {
    @include font("Avenir Next Regular", 400, 14px, 15px, $primary);
  }
}
