@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  &__curr-user {
    @include font("Avenir Next Regular", 600, 18px, 15px, $primary);
    margin-top: 0.5rem;
    @include tablet {
      @include font("Avenir Next Regular", 600, 20px, 18px, $primary);
    }
    @include desktop {
      @include font("Avenir Next Regular", 600, 24px, 22px, $primary);
    }
  }

  &__curr-user__card {
    @include flex(center, flex-start, column);
    border: 1px solid black;
    background-color: $secondary3;
    border-radius: 4px;
    width: 80vw;
    padding: 1rem;
    margin: 0 auto;
    box-shadow: 5px 2px;

    &-name {
      @include font("Avenir Next Regular", 600, 18px, 15px, $primary);
      margin-bottom: 1rem;
      @include tablet {
        @include font("Avenir Next Regular", 600, 20px, 18px, $primary);
      }
      @include desktop {
        @include font("Avenir Next Regular", 600, 22px, 22px, $primary);
      }
    }

    &-address,
    &-city,
    &-country,
    &-instrument,
    &-email,
    &-phone,
    &-bio {
      @include font("Avenir Next Regular", 600, 14px, 15px, $primary2);
      @include tablet {
        @include font("Avenir Next Regular", 600, 16px, 17px, $primary2);
      }
    }
  }

  #hero__span {
    @include font("Avenir Next Regular", 400, 14px, 15px, $primary);
    @include tablet {
      @include font("Avenir Next Regular", 400, 16px, 17px, $primary);
    }
  }
}
